* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4F46E5;
  --primary-dark: #4338CA;

  --background: #F1F5F9;
  --card: #FFFFFF;

  --text: #1E293B;
  --text-light: #64748B;

  --border: #E2E8F0;

  --success: #16A34A;
  --warning: #F59E0B;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: var(--card);
  color: var(--text);
  padding: 20px;
}

/* LAYOUT */
.container {
  max-width: 1500px;
  margin: auto;
}

/* CARD */
.card {
  background: var(--card);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  margin-bottom: 20px;
}

/* TITULOS */
h2, h3 {
  margin-bottom: 20px;
  color: var(--text);
}

/* FORM GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

label {
  font-size: 14px;
  color: var(--text-light);
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-top: 5px;
  outline: none;
  transition: 0.2s;
}

input:focus, select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
}

/* BOTÃO */

button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border: none;
  background: var(--primary);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

/* BOTÃO DENTRO DA TABELA */
td button {
  width: auto;
  padding: 6px 10px;
  font-size: 14px;
}

button:hover {
  background: var(--primary-dark);
}
.btn{
  color: #FFFFFF; ;
}
/* TABELA */
table {
  width: 100%;
  table-layout: fixed;
  width: 800px;

}
.table-container {
  overflow-x: auto;
}


th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--border);
}

th {
  background: #F8FAFC;
  color: var(--text);
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.status.pendente {
  background: #FEF3C7;
  color: #92400E;
}

.status.notificado {
  background: #DBEAFE;
  color: #1E40AF;
}

.status.entregue {
  background: #DCFCE7;
  color: #166534;
}


.btn-whatsapp{
  display: inline-block;
  margin-left: 1px;
  margin-top: 8px;
}

.btn-whatsapp{
  display: inline-block;
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;

  background: var(--primary);
  color: white;

  font-size: 14px;
}