* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS DE COR */
:root {
  --primary: #cecddb;
  --primary-dark: #4338CA;
  --background: #F1F5F9;
  --card: #FFFFFF;
  --text: #1E293B;
  --text-light: #64748B;
  --border: #E2E8F0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--card);
  background: url('/static/IMG/WhatsApp\ Image\ 2026-06-07\ at\ 13.48.54.jpeg');
    background-size: 100%;
background-position: left center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(245, 244, 244, 0.5); /* transparência aqui */
  z-index: -1;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background: rgba(79, 70, 229, 0.85);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255,255,255,0.1);
}

header a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  margin-right: 15px;
  transition: 0.2s;
}

/* LINKS */
.logout  {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
.logout  {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
.logout:hover {
  color: #fdfdfd;
}
.link  {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
h1{
  color:#FFFFFF; ;
}

.title{
  color: var(--text);
  margin-bottom: 20px;
}

/* CAMPOS */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-img {
  width: 50%;
  background: #f8fafc;
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: center;
  gap: 40px; /* espaço entre imagem e botão */
}
.msg-erro {
    max-width: 400px;
    margin: 60px auto;
    padding: 100px;
    text-align: center;
    background: #fee2e2;
    color: #991b1b;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(105, 77, 77, 0.08);
    font-size: 30px;
  
    /* animação */
    animation: fadeIn 0.5s ease;
  }
  
  /* animação suave */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .footer {
   
    color: #060606;
    padding: 15px 20px;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    max-width: 1100px;
    margin: auto;

    display: flex;
    flex-direction: column; /* 🔥 empilha tudo */
    justify-content: center;
    align-items: center;

    gap: 8px;
    text-align: center;
}

.footer-links a {
    color: #101010;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.footer-links a:hover {
    color: #433f3f;
}