<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

    <main class="container">

        <h1>Cadastro de Usuário</h1>

        <form method="POST" action="{{ url_for('morador.cadastro_usuario') }}">

            <div class="input-box">
                <input
                    type="text"
                    name="nome"
                    placeholder="Nome de usuário"
                    required>
                <i class="bx bxs-user"></i>
            </div>

            <div class="input-box">
                <input
                    type="password"
                    name="senha"
                    placeholder="Senha"
                    required>
                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="input-box">
                <select name="funcao" required>
                    <option value="">Selecione a função</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Porteiro">Porteiro</option>
                    <option value="Síndico">Síndico</option>
                </select>
            </div>

            <button type="submit" class="login">
                Cadastrar
            </button>

        </form>

    </main>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2026 Portaria Express. Todos os direitos reservados.</p>
    
            <div class="footer-links">
                <a href="https://github.com/Juci-Dev" target="_blank">
                    GitHub
                </a>
            </div>
        </div>
    </footer>
</body>
</html>